.overlay {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1;
    opacity: 0.5;
}

.alnmt {
    width: 90vw;
}

.siz {
    position: relative;
    width: 100px !important;
    height: 100px !important;
}